@import "styles/variables.scss";

.main-container {
    position: relative;
    background-color: hsl(0, 0%, 90%);
    height: 100vh;
    width: 100%;

    .main-app {
        position: absolute;
        top: $topbarHeight;
        left: 0;
        width: 100%;
        height: calc(100% - #{$topbarHeight});

        &:focus {
            outline: none;
        }

        &.move {
            cursor: auto;
        }

        &.draw,
        &.draw canvas {
            cursor: crosshair !important;
        }
    }
}
